- content_for :meta_description, "Buy apparel from Overqualified. Resumes are for the overqualified. Overqualified is for those with no real-world experience."

.container
  %h1
    All apparel

  .clothing-rack
    // TODO All Clothing goes here