- content_for :title, "The Company"
- content_for :body_class, "about"

- if @header.present?
  = render "shared/page_header", :locals => {@header => @header}

.container-fluid
  %section#company
    .text-center
      = image_tag "http://placehold.it/150x150", :class => "img-circle"
    %p.text-center
      Listen, we're not some faceless corporation; that's us right there. We're just a few people who thought we had a funny/ironic/serious/cool/lame/awesome idea that we wanted to share with you.
    %p
      %strong
        What you'll get when you order from us is 
      an experience that we think is much like getting something cool from your friend. When you place an order, it's going to be one of us processing it. When you email us, it's going to be one of us reading it. If you have a problem, we're going to take that to heart and help you out like you were one of us.
  = image_tag "http://placehold.it/500x150", :class => "img-responsive img-center"
  %section#why
    %h3.text-center
      What's in a title?
    %p
      %strong
        We dreamed up the concept for Overqualified after sending in resume after resume ourselves.
      After a certain point and countless submissions, the whole idea of a resume becomes comical. Here you are, trying to fit your entire skillset on one sheet of paper.
    %p 
      Now think about if this was actually how people interacted in "the real world." Imagine meeting someone in person and instead of chatting, you give them only a sterile one-line phrase for what you do or what you're interested in. What would it be? If you could see one line about a person, would you want to get to know them?
  %section#people
    %h3.text-center
      Put yourself out there.
    %p
      %strong
        Go ahead and tell the world what you're great at.
      If you are a painting savant, pro skater, excellent chef, ambitious, cool, awesome, sweet or overqualified at what you do in any way, the world needs to know. Start telling people about your hard work, amazing talents, and ambition and see who else is like you.
