$main_green:  #4B846A;
$dark_grey:   #222;
$link_color:  #5f6a7d;
$link_hover:  darken($link_color, 10%);

$body_font_color: #fff;
$dark_body_font_color: #333;

.main-color-gradient {
  background: #1b9dd8; /* Old browsers */
  background: -moz-linear-gradient(top,  lighten($main_green, 10%) 0%, $main_green 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, lighten($main_green, 10%) ), color-stop( 100%, $main_green )); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  lighten($main_green, 25%) 0%, $main_green 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  lighten($main_green, 10%) 0%, $main_green 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  lighten($main_green, 10%) 0%, $main_green 100%); /* IE10+ */
  background: linear-gradient(to bottom,  lighten($main_green, 10%) 0%, $main_green 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9dd8', endColorstr='#2165ca',GradientType=0 ); /* IE6-9 */
}