
// Mixin for CSS transitions
@mixin transition($type, $duration, $ease: "") {
  -webkit-transition: $type $duration #{$ease} 0s;
  -moz-transition: $type $duration #{$ease} 0s;
  -o-transition: $type $duration #{$ease} 0s;
  transition: $type$type $duration #{$ease} 0s;
}


// Mixin for CSS Hover darken
@mixin darken($color) {
  color: darken($color, 15%);
} 