
// Mixin for CSS transitions
@mixin transition($type, $duration, $ease: "") {
  transition: $type$type $duration #{$ease};
  -webkit-transition: $type $duration #{$ease};
  -moz-transition: $type $duration #{$ease};
  -o-transition: $type $duration #{$ease};
}


// Mixin for CSS Hover darken
@mixin darken($color) {
  color: darken($color, 15%);
} 