@import 'bootstrap';
@import 'colors';
@import 'fonts';
@import 'mixins';

$current_logo_height: 100px;
$current_section_padding: 100px 0 100px 0;
$current_section_padding_footer: 100px 0 0 0;
$nav_menu_width: 240px;
$nav_menu_offset: 190px;
$right_menu_width: 240px;

html, body {
  min-width: 100%;
  height: 100%;
}

body {
  position: relative;
  color: $body_font_color;
  background-color: #000;
  font-family: "ProximaNova-Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  left: 0;
  padding-left: 50px;
  padding-right: $right_menu_width;
}

a {
  color: $main_accent_color;

  &:hover {
    color: $main_accent_color;
    text-decoration: none;
    border-bottom: 1px solid $main_color;
  }
}


p, h1, h2, h3, h4, h5, h6 {
  font-family: "ProximaNova-Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
}

.breadcrumb {
  background-color: inherit;
}

section {
  padding: $current_section_padding;
}

.thumbnail {
  display: inline-block;
  border: 0;
  border-radius: 0;
  padding: 0;

  img {
    margin: 0;
  }
}

.top-right-triangle {
  position: absolute;
  top: 0;
  right: 0;
  border: solid 40px transparent;
  width: 0;
  height: 0;
  border-right: solid 40px #000;
  border-top: solid 40px #000;
  z-index: 3;
}



/* ===============================
            Navigation
================================== */          

nav {
  background: rgba(0,0,0, 0.8);
  border-right: 4px solid $main_color;
  position: fixed;
  top: 0;
  left: -$nav_menu_offset;
  height: 100%;
  width: $nav_menu_width;
  overflow-y: auto; 
  z-index: 1000;
  @include transition(all, 0.3s, ease-in-out);

  &:hover {
    left: 0;
  }

  .nav-logo {
    width: 100%;
    height: $current_logo_height;

    img {
      height: $current_logo_height;
    }

    a:hover {
      border: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $main_color;
  }

  .nav > .nav-li-header > a {
    font-size: 20px;
    color: $main_accent_color;

    &:hover {
      @include darken($main_accent_color);
    }
  }

  .nav > li > a {
    color: #FFF;
    border: 1px solid transparent;

    &:hover {
      @include darken(#FFF);
      background-color: transparent;
      text-decoration: none;
      border-top: 1px solid $main_color;
      border-bottom: 1px solid $main_color;
    }
  }
}

nav,
body,
.nav-menu-collapsed {
  @include transition(all, 0.3s, ease-in-out);
}

.nav-menu-collapsed {
  left: $nav_menu_offset;
  padding-left: 50px;
}

.collapsed-side-nav {
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  @include transition(all, 0.5s, ease-in-out);

  .collapsed-side-nav-menu {
    li {
      font-size: 18px;
    }
  }
}

.collapsed-side-nav-hover {
  opacity: 0;
  left: -190px;
}


#mobile-navbar {

  .navbar {
    background: rgba(0,0,0, 0.8);
  
    .navbar-brand {
      color: #FFF;
      &:hover {
        border: 0;
      }
    }
  }

  .navbar-toggle {
    border-radius: 0px;
  }

  #mobile-navbar-menu {
    display: none;

    li > a {
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        border-top: 1px solid $main_color;
        border-bottom: 1px solid $main_color;
      }
    }
  }
}


/* ===============================
            Right Sidebar
================================== */

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: $right_menu_width;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}



/* ===============================
            Footer
================================== */   

footer {
  padding: $current_section_padding_footer;
  background-color: #000;

  ul li {
    list-style-type: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $main_color;
  }

  #epilogue {
    padding: 50px 0 0 0;
  }
}



/* ===============================
            Body Styles
================================== */   

body.landing_page {

  .bg {
    background: url(stock_photos/Varkala_Beach_High_Res-1.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 650px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
  }

  .main-jumbotron {
    height: 650px;
    color: $body_font_color;
    background: transparent;
    margin: 0;

    h1, h2, h3, h4, h5, h6 {
      display: inline;
      background-color: #000;
      font-family: Helvetica, Arial, sans-serif;
    }
  }
}



/* ===============================
            Media Queries
================================== */   

@media screen and ( max-width: 768px ) {
  body {
    padding-left: 0;
    padding-top: 56px; /* To clear the mobile nav header */
  }
}














