@import 'bootstrap';
@import 'colors';
@import 'fonts';

$current_nav_height: 125px;

html, body {
  height: 100%;
}

body {
  color: $dark_bg_body_font_color;
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  /* padding used for fixed top menu 
  padding-top: $current_nav_height; */

  p {
    font-size: 18px;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "ProximaNova-Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
}


.navbar {
  height: $current_nav_height;
  border-bottom: 4px solid $main_green;

  .container-fluid {
    padding: 0;

    ul {
      margin: 0 auto;
    }
  }

  ul li {
    display: inline;
  }

  ul.logo-nav {
    text-align: center;
    padding: 0;
    width: 100%;

    a {
      font-size: 18px;
    }

    .logo {
      img {
        height: $current_nav_height;
      }
    }

    .left {
      margin-right: 75px;
    }

    .right {
      margin-left: 75px;
    }
  }

  ul.collapsed {
    li {
      margin-right: 30px;
    }
  }
}

.navbar-default {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.65);
}


body.landing_page {

  .bg {
    background: url(stock_photos/landscape_test_image.jpg) no-repeat center center;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 650px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
  }

  .main-jumbotron {
    padding-top: $current_nav_height + 30px;
    height: 650px;
    color: $dark_bg_body_font_color;
    background: transparent;
    margin: 0;

    h1, h2, h3, h4, h5, h6 {
      display: inline;
      background-color: #000;
      font-family: Helvetica, Arial, sans-serif;
    }
  }
}





@media (max-width: 599px) {
  .navbar {
    height: $current_nav_height - 35px;
    li.left {
      margin-right: 0px;
    }

    ul.logo-nav .logo img {
      height: 85px;
    }
  }
}





