%nav{ :class => "navbar navbar-default navbar-fixed-top" }
  .container-fluid
    %ul.logo-nav
      %li.left
        = link_to "BROWSE", "#"
      %li.logo
        = link_to root_path do
          = image_tag("branding/OQ_fulllogo.svg")
      %li.right
        = link_to "BUY", "#"