%nav{ :class => "navbar navbar-default navbar-fixed-top" }
  .container
    .navbar-header
      = link_to "Overqualified.", root_path, :class => "navbar-brand"

    %ul{ :class => "nav navbar-nav navbar-right" }
      %li
        %button{ :class => "btn btn-default navbar-btn" }
          Sign in
      %li
        %p{ :class => "navbar-text" }
          Welcome, user