%nav{ :class => "navbar navbar-default navbar-fixed-top" }
  .container
    = link_to "#", :class => "left" do
      BROWSE
    .logo.text-center
      = link_to root_path do
        = image_tag("branding/OQ_fulllogo.svg")
    = link_to "#", :class => "right" do
      BUY