.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to "Overqualified.", "#", :class => "navbar-brand"
      %button{ :class => "btn btn-default navbar-btn navbar-left" }
        Sign in
      %p{ :class => "navbar-text navbar-right" }
        Welcome, user