// TODO Add Javascript class that changes righthand side nav to bottom on mobile

.right-sidebar.main-color-gradient.text-center
  %h5
    Your Cart 
    %span.ss-icon.ss-cart
    %br
    %span.badge
      12
  %hr
  %button.btn.btn-primary
    Checkout
